
:root {
    --Dark-cyan:  hsl (185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
}
 html { box-sizing: border-box;}
      *, *:before, *:after {
        box-sizing: inherit;}
h1 {font-family: 'Kumbh Sans', sans-serif;}
h3 { font-family: Arial;}
span { font-family:Times New Roman;color: grey;}
body {font-family: 'Kumbh Sans', sans-serif; background-color:#19a2ae;display: flex;
flex-direction: column;align-items: center;}
.flex {display: flex;justify-content: center;}
.card {
  background-color: white;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 5px 5px rgb(53, 113, 148);
}
.header {
  width: 100%;
  display: block;
}



